body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

ul {
  list-style: disc;
  margin-left: 10px;
}

li {
  margin-left: 15px;
}