.about-us {
  .about-us__container {
    @include page-width;
    padding-bottom: 20px;
  }

  .about-us__heading--large {
    @include title-large;
  }

  .about-us__content {
    padding-top: 20px;
  }

  .about-us__heading--medium {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}